<!DOCTYPE html>
<html>
<html lang="en">
<head>
	<title></title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>covid-19 updates </title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.20/css/dataTables.bootstrap4.min.css">


</head>
<body>
<nav class="navbar navbar-expand-lg  nav-custom-color">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <ul class="navbar-nav ml-auto">
        <li class="nav-item active">
            <a class="nav-link" href="world.html">World Covid Status <span class="sr-only">(current)</span></a>
        </li>

    </ul>
</nav>


<div class="container">
    <h1 align="center"> World Covid Update </h1>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-4">
            <div class="card text-white bg-warning mb-3" style="max-width: 18rem;">
                <div class="card-header">Cases</div>
                <div class="card-body">
                    <h5 class="card-title">{{number_format($total_cases)}}</h5>
                    <p class="card-text">Total case of affected</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card text-white bg-danger mb-3" style="max-width: 18rem;">
                <div class="card-header">Deaths</div>
                <div class="card-body">
                    <h5 class="card-title">{{number_format($total_cases)}}</h5>
                    <p class="card-text">Total deaths worldwide</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card text-white bg-success mb-3" style="max-width: 18rem;">
                <div class="card-header">Recoverd</div>
                <div class="card-body">
                    <h5 class="card-title">{{number_format($total_cases)}}</h5>
                    <p class="card-text">Total recoverd in worldwide</p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <h1 align="center"> Bangladesh Covid Update  </h1>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-2">
            <div class="card text-white bg-warning mb-3" style="max-width: 18rem;">
                <div class="card-header">Total Confirmed</div>
                <div class="card-body">
                    <h5 class="card-title">{{number_format($total_cases)}}</h5>

                </div>
            </div>
        </div>
        <div class="col-md-2">
            <div class="card text-white bg-success mb-3" style="max-width: 18rem;">
                <div class="card-header">Total Recovered</div>
                <div class="card-body">
                    <h5 class="card-title">{{number_format($total_cases)}}</h5>

                </div>
            </div>
        </div>
        <div class="col-md-2">
            <div class="card text-white bg-danger mb-3" style="max-width: 18rem;">
                <div class="card-header">Total Deaths</div>
                <div class="card-body">
                    <h5 class="card-title">{{number_format($total_cases)}}</h5>

                </div>
            </div>
        </div>
        <div class="col-md-2">
            <div class="card text-white bg-warning mb-3" style="max-width: 18rem;">
                <div class="card-header">New Confirmed</div>
                <div class="card-body">
                    <h5 class="card-title">{{number_format($total_cases)}}</h5>

                </div>
            </div>
        </div>
        <div class="col-md-2">
            <div class="card text-white bg-secondary mb-3" style="max-width: 18rem;">
                <div class="card-header">New success</div>
                <div class="card-body">
                    <h5 class="card-title">{{number_format($total_cases)}}</h5>
                 <!--   <p class="card-text">Total New Recovered of affected</p>-->
                </div>
            </div>
        </div>
        <div class="col-md-2">
            <div class="card text-white bg-danger mb-3" style="max-width: 18rem;">
                <div class="card-header">New Deaths</div>
                <div class="card-body">
                    <h5 class="card-title">{{number_format($total_cases)}}</h5>
                    <!--<p class="card-text">Total New Deaths of affected</p>-->
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <h1 align="center"> Check Your Area</h1>
</div>

<div class="container">

    <table id="data" class="table table-bordered">
        <thead>
        <tr>
            <th scope="col">Districts</th>
            <th scope="col">Confirmed</th>

        </tr>
        </thead>
        <tbody>
        <tr>
            <td>bjhjhbjhb</td>
            <td>nkjbjk</td>

        </tr>
        </tbody>
    </table>

</div>













<script src="https://code.jquery.com/jquery-3.3.1.js"></script>
<script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap4.min.js"></script>
<script>
    $(document).ready(function() {
        $('#data').DataTable();
    } );
</script>

</body>
</body>
</html>
